@import "reset";
@import "fonts";
@import "vars";
@import "base";



.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 15px;
}

body{
  background-color: rgb(24, 24, 24);
  color: #e3e9ed;
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 2;
  }

  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;

    .header__logo {
      flex: 0 0 20px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      z-index: 3;

      img {
        max-width: 100%;
        display: block;
      }
    }

    .header__burger {
      cursor: pointer;
    }

    .header__menu {

      .header__list {

        display: flex;
        position: relative;
        z-index: 3;

        li {
          margin-left: 30px;
          img{
            display: none;
          }
        }
        .header__link {
          color: #e3e9ed;
          text-transform: uppercase;
          text-decoration: none;
          font-size: 15px;
          font-weight: bold;
        }
      }
    }
  }
}

.content {
  padding-top: 86px;
  .content__text {
    font-size: 15px;
    line-height: 23px;

    p {
      margin-bottom: 20px;
    }
  }
}

@import "media";
