@media only screen and (max-width: 768px) {

  body.lock {
    overflow: hidden;
  }

  .container {
    padding: 0 20px;
  }

    .header {
      .header__body {
        height: 58px;

        .header__logo {
          flex: 0 0 24px;
        }

        .header__burger {
          display: block;
          position: relative;
          width: 28px;
          height: 20px;
          z-index: 3;

          &::before,
          &::after {
            content: "";
            background-color: #e3e9ed;
            position: absolute;
            // border-radius: 60%;
            width: 100%;
            height: 2.2px;
            left: 0;
            transition: all 0.3s ease;
          }

          &:before {
            top: 0px;
          }

          &::after {
            bottom: 0;
          }

          span {
            position: absolute;
            // border-radius: 60%;
            background-color: #e3e9ed;
            left: 0;
            width: 100%;
            height: 2.2px;
            top: 9px;
            transition: all 0.3s ease;
          }
        }

        .header__burger.active {
          span {
            transform: scale(0);
          }

          &::before {
            transform: rotate(45deg);
            top: 9px;
          }

          &::after {
            transform: rotate(-45deg);
            bottom: 9px;
          }
        }

        .header__menu {
          position: fixed;
          top: 0;
          right: -100%;
          width: 100%;
          height: 100vh;
          background-color: black;
          padding: 70px 0 0 0;
          transition: all 0.4s ease;
          overflow: auto;

          .header__list {
            display: block;
            text-align: center;
            top: 8%;

            li {
              margin-left: 0px;
              margin-bottom: 35px;

              &:last-child{
                padding-top: 25px;;
              }
              

              img{
                display: inline-block;
                width: 200px;
                
              }
            }

            .header__link{
              font-size: 17px;
            }
          }
        }

        .header__menu.active {
          right: 0;
        }
      }
    }

    .content {
      padding-top: 68px;
      .content__text {
        font-size: 15px;
        line-height: 23px;

        p {
          color: rgb(71, 71, 71);
          margin-bottom: 20px;
        }
      }
    }
  
}
